section.galleri-en {
    flex-direction: column;
    gap: 16px;
}

section.galleri-en p {
    color: var(--darkgrey);
}

section.galleri-en div.grid-en {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

section.galleri-en div.grid-en img {
    height: 200px;
    width: 200px;
}

.grid-en {
    margin-top: 10px;
    margin-inline: auto;
    width: 80%;
    height: 80%;
    /* grid-template-columns: repeat(2, minmmax (50px, 1fr));
    grid-template-rows: repeat(2, minmmax (50px, 1fr)); */
    gap: 8px;
    grid-template-columns: repeat(2, minmmax(100px, 100px));
    grid-template-rows: repeat(2 100px);
    grid-auto-flow: dense;
    grid-template-areas:
    "tre en"
    "fire to";
}

.en {
    grid-area: en;
}

.to {
    grid-area: to;
}

.tre {
    grid-area: tre;
}

.fire {
    grid-area: fire;
}