header {
    display: flex;
    background-color: var(--tertiery);
    height: 72px;
    padding-inline: 32px;
    justify-content: space-between;
    align-items: center;
}

header figure {

}

header figure img {
height: 100%;
}

header nav {
display: flex;
gap: 16px;
}

header nav a {
background-color: var(--tertiery);
color: var(--white);
text-decoration: none;
border: 2px solid var(--secandary);
border-radius: 12px;
padding: 6px;
box-shadow: 2px 2px 3px var(--white);
transition: 0, 3s ease;
}

header nav a:hover {
scale: 120%;
}

header nav a:active {
scale: 90%;
}