section.intro {
    /* display: flex; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 16px;
}

section.intro h2 {
    margin-bottom: 16px;
    font-size: large;
    color: var(--black);
}

section.intro p {
    padding: 8px;
    text-align: center;
    color: var(--black);
}

section.intro figure {
    height: 250px;
    width: 250px;
}

section.intro figure img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}